{% extends 'base.html.twig' %}

{% block menu %}
	<div class="well">
		<a href="/books" class="btn btn-default btn-lg">książki</a>
		{% if app.session.get('creds') == 1 %}
			<a href="/genres" class="btn btn-default btn-lg">gatunki</a>
		{% endif %}
		<a href="/writers" class="btn btn-default btn-lg">pisarze</a>
		<a href="/settings" class="btn btn-default btn-lg">ustawienia</a>
		{% if app.session.get('creds') == 1 %}
			<a href="/users" class="btn btn-default btn-lg">użytkownicy</a>
		{% endif %}
		<a href="/login" class="btn btn-default btn-lg">wyloguj ({{ app.session.get('login') }})</a>
	</div>
{% endblock %}